In [4]:
# !pip install catboost

In [65]:
DATA_PATH = "data/"
SUBMIT_PATH = "submit/"
SEED = 42

In [169]:
import os
import sys
import platform
import random
import math
from typing import List ,Dict, Tuple

import pandas as pd
import numpy as np
 
import sklearn 
from sklearn.model_selection import StratifiedKFold , KFold
from sklearn.metrics import f1_score 

from catboost import Pool,CatBoostClassifier

print(f"- os: {platform.platform()}")
print(f"- python: {sys.version}")
print(f"- pandas: {pd.__version__}")
print(f"- numpy: {np.__version__}")
print(f"- sklearn: {sklearn.__version__}")

- os: Windows-10-10.0.19041-SP0
- python: 3.8.5 (default, Sep  3 2020, 21:29:08) [MSC v.1916 64 bit (AMD64)]
- pandas: 1.3.5
- numpy: 1.20.2
- sklearn: 0.24.2

In [170]:
train_data = pd.read_csv(f'{DATA_PATH}train.csv')
test_data = pd.read_csv(f'{DATA_PATH}test.csv')

code_d = pd.read_csv(f'{DATA_PATH}속성_D_코드.csv')
code_h = pd.read_csv(f'{DATA_PATH}속성_H_코드.csv')
code_l = pd.read_csv(f'{DATA_PATH}속성_L_코드.csv')

train_data.shape , test_data.shape

((501951, 35), (46404, 34))

In [171]:
code_d.columns

Index(['속성 D 코드', '속성 D 세분류코드', '속성 D 소분류코드', '속성 D 중분류코드', '속성 D 대분류코드'], dtype='object')

In [172]:
code_h.columns

Index(['속성 H 코드', '속성 H 중분류코드', '속성 H 대분류코드'], dtype='object')

In [173]:
code_l.columns

Index(['속성 L 코드', '속성 L 세분류코드', '속성 L 소분류코드', '속성 L 중분류코드', '속성 L 대분류코드'], dtype='object')

### 속성 코드 데이터 컬럼명 변경

In [174]:
# code_d.columns= ["attribute_d","attribute_d_d","attribute_d_s","attribute_d_m","attribute_d_l"]
# code_h.columns= ["attribute_h","attribute_h_p"]
# code_l.columns= ["attribute_l","attribute_l_d","attribute_l_s","attribute_l_m","attribute_l_l"]

code_d.columns= ["attribute_d","attribute_d_d","attribute_d_s","attribute_d_m","attribute_d_l"]
code_h.columns= ["attribute_h","attribute_h_m", "attribute_h_l"]
code_l.columns= ["attribute_l","attribute_l_d","attribute_l_s","attribute_l_m","attribute_l_l"]

In [175]:
code_d

      attribute_d  attribute_d_d  attribute_d_s  attribute_d_m  attribute_d_l
0               4              4              3              2              1
1               5              5              3              2              1
2               7              7              6              2              1
3               8              8              6              2              1
4               9              8              6              2              1
...           ...            ...            ...            ...            ...
1109         1254           1254           1254           1235           1235
1110         1255           1254           1254           1235           1235
1111         1256           1254           1254           1235           1235
1112         1257           1254           1254           1235           1235
1113         1258           1258           1258           1258           1258

[1114 rows x 5 columns]

### 속성코드 데이터 merge 함수

In [176]:
def merge_codes(df:pd.DataFrame,df_code:pd.DataFrame,col:str)->pd.DataFrame:
    df = df.copy()
    df_code = df_code.copy()
    df_code = df_code.add_prefix(f"{col}_")
    df_code.columns.values[0] = col
    return pd.merge(df,df_code,how="left",on=col)

### 데이터 전처리 함수

In [177]:
def preprocess_data(
                    df:pd.DataFrame,is_train:bool = True, cols_merge:List[Tuple[str,pd.DataFrame]] = []  , cols_equi:List[Tuple[str,str]]= [] ,
                    cols_drop:List[str] = ["id","person_prefer_f","person_prefer_g" ,"contents_open_dt"]
                    )->Tuple[pd.DataFrame,np.ndarray]:
    df = df.copy()

    y_data = None
    if is_train:
        y_data = df["target"].to_numpy()
        df = df.drop(columns="target")

    for col, df_code in cols_merge:
        df = merge_codes(df,df_code,col)

    cols = df.select_dtypes(bool).columns.tolist()
    df[cols] = df[cols].astype(int)

    for col1, col2 in cols_equi:
        df[f"{col1}_{col2}"] = (df[col1] == df[col2] ).astype(int)

    df = df.drop(columns=cols_drop)
    return (df , y_data)

### 전처리 컬럼명 정의

In [178]:
# 위의 column 명을 변경했기 때문에 이 부분에도 수정이 있음
# cols_equi 부분 수정

# 소분류 중분류 대분류 속성코드 merge 컬럼명 및 데이터 프레임 리스트
cols_merge = [
              ("person_prefer_d_1" , code_d),
              ("person_prefer_d_2" , code_d),
              ("person_prefer_d_3" , code_d),
              ("contents_attribute_d" , code_d),
              ("person_prefer_h_1" , code_h),
              ("person_prefer_h_2" , code_h),
              ("person_prefer_h_3" , code_h),
              ("contents_attribute_h" , code_h),
              ("contents_attribute_l" , code_l),
]

# 회원 속성과 콘텐츠 속성의 동일한 코드 여부에 대한 컬럼명 리스트
cols_equi = [

    ("contents_attribute_c","person_prefer_c"),
    ("contents_attribute_e","person_prefer_e"),

    ("person_prefer_d_2_attribute_d_s" , "contents_attribute_d_attribute_d_s"),
    ("person_prefer_d_2_attribute_d_m" , "contents_attribute_d_attribute_d_m"),
    ("person_prefer_d_2_attribute_d_l" , "contents_attribute_d_attribute_d_l"),
    ("person_prefer_d_3_attribute_d_s" , "contents_attribute_d_attribute_d_s"),
    ("person_prefer_d_3_attribute_d_m" , "contents_attribute_d_attribute_d_m"),
    ("person_prefer_d_3_attribute_d_l" , "contents_attribute_d_attribute_d_l"),

    ("person_prefer_h_1_attribute_h_m" , "contents_attribute_h_attribute_h_m"),
    ("person_prefer_h_2_attribute_h_m" , "contents_attribute_h_attribute_h_m"),
    ("person_prefer_h_3_attribute_h_m" , "contents_attribute_h_attribute_h_m"),
    ("person_prefer_h_1_attribute_h_l" , "contents_attribute_h_attribute_h_l"),
    ("person_prefer_h_2_attribute_h_l" , "contents_attribute_h_attribute_h_l"),
    ("person_prefer_h_3_attribute_h_l" , "contents_attribute_h_attribute_h_l"),

    
]

# 학습에 필요없는 컬럼 리스트
cols_drop = ["id","person_prefer_f","person_prefer_g" ,"contents_open_dt", "contents_rn", ]

In [179]:
cols_merge

[('person_prefer_d_1',
        attribute_d  attribute_d_d  attribute_d_s  attribute_d_m  attribute_d_l
  0               4              4              3              2              1
  1               5              5              3              2              1
  2               7              7              6              2              1
  3               8              8              6              2              1
  4               9              8              6              2              1
  ...           ...            ...            ...            ...            ...
  1109         1254           1254           1254           1235           1235
  1110         1255           1254           1254           1235           1235
  1111         1256           1254           1254           1235           1235
  1112         1257           1254           1254           1235           1235
  1113         1258           1258           1258           1258           1258

  [1114 rows x 5 columns]),
 ('person_prefer_d_2',
        attribute_d  attribute_d_d  attribute_d_s  attribute_d_m  attribute_d_l
  0               4              4              3              2              1
  1               5              5              3              2              1
  2               7              7              6              2              1
  3               8              8              6              2              1
  4               9              8              6              2              1
  ...           ...            ...            ...            ...            ...
  1109         1254           1254           1254           1235           1235
  1110         1255           1254           1254           1235           1235
  1111         1256           1254           1254           1235           1235
  1112         1257           1254           1254           1235           1235
  1113         1258           1258           1258           1258           1258

  [1114 rows x 5 columns]),
 ('person_prefer_d_3',
        attribute_d  attribute_d_d  attribute_d_s  attribute_d_m  attribute_d_l
  0               4              4              3              2              1
  1               5              5              3              2              1
  2               7              7              6              2              1
  3               8              8              6              2              1
  4               9              8              6              2              1
  ...           ...            ...            ...            ...            ...
  1109         1254           1254           1254           1235           1235
  1110         1255           1254           1254           1235           1235
  1111         1256           1254           1254           1235           1235
  1112         1257           1254           1254           1235           1235
  1113         1258           1258           1258           1258           1258

  [1114 rows x 5 columns]),
 ('contents_attribute_d',
        attribute_d  attribute_d_d  attribute_d_s  attribute_d_m  attribute_d_l
  0               4              4              3              2              1
  1               5              5              3              2              1
  2               7              7              6              2              1
  3               8              8              6              2              1
  4               9              8              6              2              1
  ...           ...            ...            ...            ...            ...
  1109         1254           1254           1254           1235           1235
  1110         1255           1254           1254           1235           1235
  1111         1256           1254           1254           1235           1235
  1112         1257           1254           1254           1235           1235
  1113         1258           1258           1258           1258           1258

  [1114 rows x 5 columns]),
 ('person_prefer_h_1',
       attribute_h  attribute_h_m  attribute_h_l
  0              2            315              1
  1              4            316              3
  2              5            317              3
  3              6            318              3
  4              7            319              3
  ..           ...            ...            ...
  289          309            566            308
  290          310            567            308
  291          311            568            308
  292          313            569            312
  293          314            570            314

  [294 rows x 3 columns]),
 ('person_prefer_h_2',
       attribute_h  attribute_h_m  attribute_h_l
  0              2            315              1
  1              4            316              3
  2              5            317              3
  3              6            318              3
  4              7            319              3
  ..           ...            ...            ...
  289          309            566            308
  290          310            567            308
  291          311            568            308
  292          313            569            312
  293          314            570            314

  [294 rows x 3 columns]),
 ('person_prefer_h_3',
       attribute_h  attribute_h_m  attribute_h_l
  0              2            315              1
  1              4            316              3
  2              5            317              3
  3              6            318              3
  4              7            319              3
  ..           ...            ...            ...
  289          309            566            308
  290          310            567            308
  291          311            568            308
  292          313            569            312
  293          314            570            314

  [294 rows x 3 columns]),
 ('contents_attribute_h',
       attribute_h  attribute_h_m  attribute_h_l
  0              2            315              1
  1              4            316              3
  2              5            317              3
  3              6            318              3
  4              7            319              3
  ..           ...            ...            ...
  289          309            566            308
  290          310            567            308
  291          311            568            308
  292          313            569            312
  293          314            570            314

  [294 rows x 3 columns]),
 ('contents_attribute_l',
        attribute_l  attribute_l_d  attribute_l_s  attribute_l_m  attribute_l_l
  0               1              1              1              1           2004
  1               2              2              2              1           2004
  2               3              3              2              1           2004
  3               4              3              2              1           2004
  4               5              5              2              1           2004
  ...           ...            ...            ...            ...            ...
  2020         2021           2021           2021           2021           2021
  2021         2022           2022           2022           2022           2022
  2022         2023           2023           2023           2023           2023
  2023         2024           2024           2024           2024           2024
  2024         2025           2025           2025           2025           2025

  [2025 rows x 5 columns])]

### 학습및 추론셋 전처리 !!

In [180]:
x_train, y_train = preprocess_data(train_data, cols_merge = cols_merge , cols_equi= cols_equi , cols_drop = cols_drop)
x_test, _ = preprocess_data(test_data,is_train = False, cols_merge = cols_merge , cols_equi= cols_equi  , cols_drop = cols_drop)
x_train.shape , y_train.shape , x_test.shape

((501951, 71), (501951,), (46404, 71))

In [183]:
# 추가한 부분
x_train

# 나머지 범주형 변수들 모두 target encoding 변환
for col in x_train.columns:
    if col not in bool_cols:
        if col == "target" :
            break        
        encoder = TargetEncoder()
        x_train[col] = encoder.fit_transform(x_train[col].astype('str'), df['target']) 
        x_test[col] = encoder.transform(x_test[col].astype('str'))
# 변수가 str 형태로 되어 있어서, category 변수라는 것을 알려주어야 한다.

In [185]:
x_train.head(3)

,d_l_match_yn,d_m_match_yn,d_s_match_yn,h_l_match_yn,h_m_match_yn,h_s_match_yn,person_attribute_a,person_attribute_a_1,person_attribute_b,person_prefer_c,...,person_prefer_d_2_attribute_d_l_contents_attribute_d_attribute_d_l,person_prefer_d_3_attribute_d_s_contents_attribute_d_attribute_d_s,person_prefer_d_3_attribute_d_m_contents_attribute_d_attribute_d_m,person_prefer_d_3_attribute_d_l_contents_attribute_d_attribute_d_l,person_prefer_h_1_attribute_h_m_contents_attribute_h_attribute_h_m,person_prefer_h_2_attribute_h_m_contents_attribute_h_attribute_h_m,person_prefer_h_3_attribute_h_m_contents_attribute_h_attribute_h_m,person_prefer_h_1_attribute_h_l_contents_attribute_h_attribute_h_l,person_prefer_h_2_attribute_h_l_contents_attribute_h_attribute_h_l,person_prefer_h_3_attribute_h_l_contents_attribute_h_attribute_h_l
0,1,1,1,0,0,0,1,0.483610,0.487071,0.509803,...,0.550807,0.481079,0.452564,0.549095,0.498124,0.500084,0.500012,0.481011,0.499739,0.498647
1,0,0,0,1,1,0,1,0.486858,0.500850,0.493090,...,0.426427,0.481079,0.452564,0.441344,0.502553,0.500084,0.500012,0.504553,0.499739,0.501022
2,0,0,0,1,0,0,2,0.493002,0.487071,0.509803,...,0.550807,0.481079,0.452564,0.441344,0.498124,0.500084,0.500012,0.504553,0.499741,0.501022

In [193]:
['d_l_match_yn',	'd_m_match_yn',	'd_s_match_yn',	'h_l_match_yn',	'h_m_match_yn',	'h_s_match_yn',	'person_attribute_a']

d_l_match_yn                                                            int32
d_m_match_yn                                                            int32
d_s_match_yn                                                            int32
h_l_match_yn                                                            int32
h_m_match_yn                                                            int32
                                                                       ...
person_prefer_h_2_attribute_h_m_contents_attribute_h_attribute_h_m    float64
person_prefer_h_3_attribute_h_m_contents_attribute_h_attribute_h_m    float64
person_prefer_h_1_attribute_h_l_contents_attribute_h_attribute_h_l    float64
person_prefer_h_2_attribute_h_l_contents_attribute_h_attribute_h_l    float64
person_prefer_h_3_attribute_h_l_contents_attribute_h_attribute_h_l    float64
Length: 71, dtype: object

In [186]:
y_train

array([1, 0, 0, ..., 1, 1, 1], dtype=int64)

In [191]:
x_test

,d_l_match_yn,d_m_match_yn,d_s_match_yn,h_l_match_yn,h_m_match_yn,h_s_match_yn,person_attribute_a,person_attribute_a_1,person_attribute_b,person_prefer_c,...,person_prefer_d_2_attribute_d_l_contents_attribute_d_attribute_d_l,person_prefer_d_3_attribute_d_s_contents_attribute_d_attribute_d_s,person_prefer_d_3_attribute_d_m_contents_attribute_d_attribute_d_m,person_prefer_d_3_attribute_d_l_contents_attribute_d_attribute_d_l,person_prefer_h_1_attribute_h_m_contents_attribute_h_attribute_h_m,person_prefer_h_2_attribute_h_m_contents_attribute_h_attribute_h_m,person_prefer_h_3_attribute_h_m_contents_attribute_h_attribute_h_m,person_prefer_h_1_attribute_h_l_contents_attribute_h_attribute_h_l,person_prefer_h_2_attribute_h_l_contents_attribute_h_attribute_h_l,person_prefer_h_3_attribute_h_l_contents_attribute_h_attribute_h_l
0,1,0,0,1,1,1,1,0.497688,0.503328,0.493090,...,0.550807,0.481079,0.452564,0.441344,0.502553,0.500084,0.500012,0.504553,0.499741,0.498647
1,0,0,0,1,0,0,2,0.493002,0.503328,0.479899,...,0.426427,0.481079,0.452564,0.441344,0.498124,0.497605,0.500012,0.504553,0.499739,0.498647
2,1,0,0,1,1,1,2,0.486858,0.503328,0.493090,...,0.426427,0.481079,0.452564,0.441344,0.502553,0.500084,0.500012,0.504553,0.499739,0.501022
3,1,0,0,1,1,1,1,0.496387,0.503328,0.509803,...,0.550807,0.481079,0.568212,0.549095,0.502553,0.500084,0.500012,0.504553,0.499739,0.501022
4,1,0,0,1,0,0,1,0.515074,0.500850,0.509803,...,0.550807,0.481079,0.452564,0.549095,0.498124,0.497605,0.500012,0.504553,0.499739,0.498647
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46399,1,1,1,0,0,0,2,0.493002,0.500850,0.493090,...,0.550807,0.583585,0.568212,0.549095,0.498124,0.500084,0.500012,0.481011,0.499741,0.498647
46400,1,0,0,1,0,0,2,0.493002,0.500850,0.493090,...,0.550807,0.481079,0.568212,0.549095,0.498124,0.500084,0.500012,0.504553,0.499741,0.498647
46401,1,1,0,1,1,1,2,0.493002,0.487071,0.493090,...,0.550807,0.583585,0.568212,0.549095,0.502553,0.500084,0.500012,0.504553,0.499739,0.501022
46402,1,1,0,1,1,1,1,0.486858,0.487071,0.479899,...,0.550807,0.583585,0.568212,0.549095,0.502553,0.500084,0.500012,0.504553,0.499739,0.501022
46403,1,1,0,1,1,1,1,0.496387,0.500850,0.493090,...,0.550807,0.583585,0.568212,0.549095,0.502553,0.500084,0.500012,0.504553,0.499739,0.501022

### 범주형 컬럼 리스트(catboost 파라미터에 넣을 용도)

In [187]:
cat_features = x_train.columns[x_train.nunique() > 2].tolist()

In [188]:
cat_features

['person_attribute_a_1',
 'person_attribute_b',
 'person_prefer_c',
 'person_prefer_d_1',
 'person_prefer_d_2',
 'person_prefer_d_3',
 'person_prefer_e',
 'person_prefer_h_1',
 'person_prefer_h_2',
 'person_prefer_h_3',
 'contents_attribute_i',
 'contents_attribute_a',
 'contents_attribute_j_1',
 'contents_attribute_c',
 'contents_attribute_l',
 'contents_attribute_d',
 'contents_attribute_m',
 'contents_attribute_e',
 'contents_attribute_h',
 'person_rn',
 'person_prefer_d_1_attribute_d_d',
 'person_prefer_d_1_attribute_d_s',
 'person_prefer_d_1_attribute_d_m',
 'person_prefer_d_1_attribute_d_l',
 'person_prefer_d_2_attribute_d_d',
 'person_prefer_d_2_attribute_d_s',
 'person_prefer_d_2_attribute_d_m',
 'person_prefer_d_2_attribute_d_l',
 'person_prefer_d_3_attribute_d_d',
 'person_prefer_d_3_attribute_d_s',
 'person_prefer_d_3_attribute_d_m',
 'person_prefer_d_3_attribute_d_l',
 'contents_attribute_d_attribute_d_d',
 'contents_attribute_d_attribute_d_s',
 'contents_attribute_d_attribute_d_m',
 'contents_attribute_d_attribute_d_l',
 'person_prefer_h_1_attribute_h_m',
 'person_prefer_h_1_attribute_h_l',
 'person_prefer_h_2_attribute_h_m',
 'person_prefer_h_2_attribute_h_l',
 'person_prefer_h_3_attribute_h_m',
 'person_prefer_h_3_attribute_h_l',
 'contents_attribute_h_attribute_h_m',
 'contents_attribute_h_attribute_h_l',
 'contents_attribute_l_attribute_l_d',
 'contents_attribute_l_attribute_l_s',
 'contents_attribute_l_attribute_l_m',
 'contents_attribute_l_attribute_l_l']

### 학습 파라미터

In [201]:
is_holdout = False
n_splits = 5 # 기존 5
iterations = 10000 # 기존 3000
patience = 80 # 기존 50

cv = KFold(n_splits=n_splits, shuffle=True, random_state=SEED)

### 학습 시작!!

In [202]:
scores = []
models = []


models = []
for tri, vai in cv.split(x_train):
    print("="*50)
    preds = []

    model = CatBoostClassifier(iterations=iterations,
                               random_state=SEED,
                               task_type="GPU",
                               eval_metric="F1",
                               cat_features=['d_l_match_yn',	'd_m_match_yn',	'd_s_match_yn',	'h_l_match_yn',	'h_m_match_yn',	'h_s_match_yn',	'person_attribute_a'],
                               one_hot_max_size=4,
                               bagging_temperature=0.2,
                               depth=10,)
    model.fit(x_train.iloc[tri], y_train[tri], 
            eval_set=[(x_train.iloc[vai], y_train[vai])], 
            early_stopping_rounds=patience ,
            verbose = 100
        )
    
    models.append(model)
    scores.append(model.get_best_score()["validation"]["F1"])
    if is_holdout:
        break

==================================================
Learning rate set to 0.016489
0:	learn: 0.7510057	test: 0.7517666	best: 0.7517666 (0)	total: 37.6ms	remaining: 6m 15s
bestTest = 0.751766559
bestIteration = 0
Shrink model to first 1 iterations.
==================================================
Learning rate set to 0.016489
0:	learn: 0.7267967	test: 0.7275727	best: 0.7275727 (0)	total: 43.6ms	remaining: 7m 16s
100:	learn: 0.7515999	test: 0.7512232	best: 0.7512232 (100)	total: 4.24s	remaining: 6m 55s
200:	learn: 0.7563915	test: 0.7540876	best: 0.7541251 (197)	total: 8.54s	remaining: 6m 56s
300:	learn: 0.7605019	test: 0.7560223	best: 0.7560223 (300)	total: 12.8s	remaining: 6m 54s
400:	learn: 0.7641722	test: 0.7570533	best: 0.7571021 (378)	total: 17.1s	remaining: 6m 50s
500:	learn: 0.7674892	test: 0.7576844	best: 0.7578876 (484)	total: 21.3s	remaining: 6m 44s
600:	learn: 0.7704900	test: 0.7582581	best: 0.7583991 (599)	total: 25.6s	remaining: 6m 40s
700:	learn: 0.7735550	test: 0.7584106	best: 0.7585511 (688)	total: 29.9s	remaining: 6m 36s
800:	learn: 0.7764432	test: 0.7591435	best: 0.7591435 (800)	total: 34.1s	remaining: 6m 31s
bestTest = 0.7591435207
bestIteration = 800
Shrink model to first 801 iterations.
==================================================
Learning rate set to 0.016489
0:	learn: 0.7296749	test: 0.7277547	best: 0.7277547 (0)	total: 40.1ms	remaining: 6m 41s
100:	learn: 0.7523110	test: 0.7513573	best: 0.7513573 (100)	total: 4.33s	remaining: 7m 4s
200:	learn: 0.7571934	test: 0.7541599	best: 0.7541899 (195)	total: 8.68s	remaining: 7m 3s
300:	learn: 0.7614793	test: 0.7560823	best: 0.7560852 (298)	total: 12.9s	remaining: 6m 57s
400:	learn: 0.7652887	test: 0.7571118	best: 0.7571413 (350)	total: 17.2s	remaining: 6m 51s
500:	learn: 0.7685198	test: 0.7571724	best: 0.7575168 (456)	total: 21.5s	remaining: 6m 47s
600:	learn: 0.7714440	test: 0.7576320	best: 0.7577257 (574)	total: 25.7s	remaining: 6m 41s
700:	learn: 0.7744476	test: 0.7584407	best: 0.7584407 (700)	total: 30.1s	remaining: 6m 39s
800:	learn: 0.7771718	test: 0.7583846	best: 0.7586558 (758)	total: 34.4s	remaining: 6m 34s
bestTest = 0.7586557853
bestIteration = 758
Shrink model to first 759 iterations.
==================================================
Learning rate set to 0.016489
0:	learn: 0.7285160	test: 0.7259386	best: 0.7259386 (0)	total: 41ms	remaining: 6m 49s
100:	learn: 0.7521231	test: 0.7480008	best: 0.7483328 (99)	total: 4.29s	remaining: 7m
200:	learn: 0.7569959	test: 0.7520334	best: 0.7520334 (200)	total: 8.45s	remaining: 6m 51s
300:	learn: 0.7609962	test: 0.7533407	best: 0.7533827 (298)	total: 12.7s	remaining: 6m 49s
400:	learn: 0.7650698	test: 0.7544621	best: 0.7545959 (388)	total: 16.9s	remaining: 6m 45s
bestTest = 0.7545958564
bestIteration = 388
Shrink model to first 389 iterations.
==================================================
Learning rate set to 0.016489
0:	learn: 0.7384482	test: 0.7367704	best: 0.7367704 (0)	total: 40.9ms	remaining: 6m 49s
100:	learn: 0.7524943	test: 0.7492481	best: 0.7492948 (97)	total: 4.1s	remaining: 6m 41s
200:	learn: 0.7576292	test: 0.7517005	best: 0.7517639 (197)	total: 8.26s	remaining: 6m 42s
300:	learn: 0.7614440	test: 0.7533316	best: 0.7534533 (298)	total: 12.7s	remaining: 6m 48s
400:	learn: 0.7653902	test: 0.7546715	best: 0.7547223 (397)	total: 17.2s	remaining: 6m 51s
500:	learn: 0.7684015	test: 0.7555346	best: 0.7557343 (465)	total: 21.4s	remaining: 6m 46s
600:	learn: 0.7715064	test: 0.7560992	best: 0.7561390 (595)	total: 25.5s	remaining: 6m 38s
700:	learn: 0.7741453	test: 0.7563487	best: 0.7566822 (683)	total: 29.8s	remaining: 6m 35s
bestTest = 0.7566821931
bestIteration = 683
Shrink model to first 684 iterations.

### CV 결과 확인

In [203]:
print(scores)
print(np.mean(scores))

# hyperparemeter 수정 X
# 결과 0.67

[0.7517665590158308, 0.7591435207039142, 0.7586557852875211, 0.754595856434199, 0.7566821931009722]
0.7561687829084874

### threshold 정의

In [204]:
threshold = 0.4

### threshold값 변경에 따른 검증점수 확인 및 추론

In [205]:
pred_list = []
scores = []
for i,(tri, vai) in enumerate( cv.split(x_train) ):
    pred = models[i].predict_proba(x_train.iloc[vai])[:, 1]
    pred = np.where(pred >= threshold , 1, 0)
    score = f1_score(y_train[vai],pred)
    scores.append(score)
    pred = models[i].predict_proba(x_test)[:, 1]
    pred_list.append(pred)
print(scores)
print(np.mean(scores))

[0.6669897691587606, 0.7739125276476023, 0.771554969083327, 0.7697180495345632, 0.7717724325879783]
0.7507895496024463

### 산술평균 앙상블!!

In [206]:
pred = np.mean( pred_list , axis = 0 )
pred = np.where(pred >= threshold , 1, 0)

### 제출파일!!

In [207]:
sample_submission = pd.read_csv(f'{DATA_PATH}sample_submission.csv')
sample_submission['target'] = pred
sample_submission

          id  target
0          0       1
1          1       1
2          2       1
3          3       0
4          4       0
...      ...     ...
46399  46399       1
46400  46400       1
46401  46401       1
46402  46402       1
46403  46403       1

[46404 rows x 2 columns]

In [208]:
sample_submission.to_csv(f"{SUBMIT_PATH}catboost-target_encoding.csv", index=False)

### 진행하며
- 기존 공유 코드와 다른 부분들 존재

In [11]:
# !pip install category_encoders

In [12]:
import pandas as pd
from category_encoders import TargetEncoder

In [38]:
encoder = TargetEncoder()
df = train_data.copy()

In [16]:
df.head(3)

,id,d_l_match_yn,d_m_match_yn,d_s_match_yn,h_l_match_yn,h_m_match_yn,h_s_match_yn,person_attribute_a,person_attribute_a_1,person_attribute_b,...,contents_attribute_k,contents_attribute_l,contents_attribute_d,contents_attribute_m,contents_attribute_e,contents_attribute_h,person_rn,contents_rn,contents_open_dt,target
0,0,True,True,True,False,False,False,1,4,3,...,2,1608,275,1,4,139,618822,354805,2020-01-17 12:09:36,1
1,1,False,False,False,True,True,False,1,3,4,...,2,1608,275,1,4,133,571659,346213,2020-06-18 17:48:52,0
2,2,False,False,False,True,False,False,2,0,3,...,1,1600,94,1,4,53,399816,206408,2020-07-08 20:00:10,0

In [41]:
df['test_encode'] = encoder.fit_transform(df['contents_attribute_k'].astype('str'), df['target']) 
# 변수가 str 형태로 되어 있어서, category 변수라는 것을 알려주어야 한다.

In [61]:
print(df['test_encode'].head(3), df['contents_attribute_l'].head(3))

0    0.502061
1    0.502061
2    0.438810
Name: test_encode, dtype: float64 0    1608
1    1608
2    1600
Name: contents_attribute_l, dtype: int64

In [46]:
test_df = test_data.copy()

In [63]:
test_df
test_df['test_encode'] = encoder.transform(test_df['contents_attribute_k'].astype('str')) 
print(test_df['contents_attribute_k'].head(3),test_df['test_encode'].head(3))
# 변수가 str 형태로 되어 있어서, category 변수라는 것을 알려주어야 한다.

0    2
1    2
2    2
Name: contents_attribute_k, dtype: int64 0    0.502061
1    0.502061
2    0.502061
Name: test_encode, dtype: float64

In [58]:
df.dtypes

id                          int64
d_l_match_yn                 bool
d_m_match_yn                 bool
d_s_match_yn                 bool
h_l_match_yn                 bool
h_m_match_yn                 bool
h_s_match_yn                 bool
person_attribute_a          int64
person_attribute_a_1        int64
person_attribute_b          int64
person_prefer_c             int64
person_prefer_d_1           int64
person_prefer_d_2           int64
person_prefer_d_3           int64
person_prefer_e             int64
person_prefer_f             int64
person_prefer_g             int64
person_prefer_h_1           int64
person_prefer_h_2           int64
person_prefer_h_3           int64
contents_attribute_i        int64
contents_attribute_a        int64
contents_attribute_j_1      int64
contents_attribute_j        int64
contents_attribute_c        int64
contents_attribute_k        int64
contents_attribute_l        int64
contents_attribute_d        int64
contents_attribute_m        int64
contents_attribute_e        int64
contents_attribute_h        int64
person_rn                   int64
contents_rn                 int64
contents_open_dt           object
target                      int64
test_encode               float64
dtype: object

### XGBoost

- 실험1) xgboost + target encoding

In [146]:
train = pd.read_csv(f'{DATA_PATH}train.csv')
test = pd.read_csv(f'{DATA_PATH}test.csv')

cols_drop = ["id","person_prefer_f","person_prefer_g" ,"contents_open_dt", "contents_rn", ]

In [147]:
train = train.drop(columns=cols_drop)
test = test.drop(columns=cols_drop)
train.head(3)

,d_l_match_yn,d_m_match_yn,d_s_match_yn,h_l_match_yn,h_m_match_yn,h_s_match_yn,person_attribute_a,person_attribute_a_1,person_attribute_b,person_prefer_c,...,contents_attribute_j,contents_attribute_c,contents_attribute_k,contents_attribute_l,contents_attribute_d,contents_attribute_m,contents_attribute_e,contents_attribute_h,person_rn,target
0,True,True,True,False,False,False,1,4,3,5,...,2,1,2,1608,275,1,4,139,618822,1
1,False,False,False,True,True,False,1,3,4,1,...,1,1,2,1608,275,1,4,133,571659,0
2,False,False,False,True,False,False,2,0,3,5,...,2,1,1,1600,94,1,4,53,399816,0

In [148]:
bool_cols = ['d_l_match_yn',	'd_m_match_yn',	'd_s_match_yn'	,'h_l_match_yn','h_m_match_yn',	'h_s_match_yn',	'person_attribute_a']
# bool 형태 데이터 변환
for col in bool_cols :
    train[col] = train[col].astype(int)
    test[col] = test[col].astype(int)

In [154]:

# 나머지 범주형 변수들 모두 target encoding 변환
for col in train.columns:
    if col not in bool_cols:
        if col == "target" :
            break        
        encoder = TargetEncoder()
        train[col] = encoder.fit_transform(train[col].astype('str'), df['target']) 
        test[col] = encoder.transform(test[col].astype('str'))
# 변수가 str 형태로 되어 있어서, category 변수라는 것을 알려주어야 한다.

In [155]:
train.head(3)

,d_l_match_yn,d_m_match_yn,d_s_match_yn,h_l_match_yn,h_m_match_yn,h_s_match_yn,person_attribute_a,person_attribute_a_1,person_attribute_b,person_prefer_c,...,contents_attribute_j,contents_attribute_c,contents_attribute_k,contents_attribute_l,contents_attribute_d,contents_attribute_m,contents_attribute_e,contents_attribute_h,person_rn,target
0,1,1,1,0,0,0,1,0.483610,0.487071,0.509803,...,0.46724,0.512659,0.502061,0.501231,0.417795,0.508141,0.504105,0.463074,0.536122,1
1,0,0,0,1,1,0,1,0.486858,0.500850,0.493090,...,0.50988,0.512659,0.502061,0.501231,0.417795,0.508141,0.504105,0.543445,0.000000,0
2,0,0,0,1,0,0,2,0.493002,0.487071,0.509803,...,0.46724,0.512659,0.438810,0.575518,0.484517,0.508141,0.504105,0.460276,0.536122,0

In [156]:
test.head(3)

,d_l_match_yn,d_m_match_yn,d_s_match_yn,h_l_match_yn,h_m_match_yn,h_s_match_yn,person_attribute_a,person_attribute_a_1,person_attribute_b,person_prefer_c,...,contents_attribute_j_1,contents_attribute_j,contents_attribute_c,contents_attribute_k,contents_attribute_l,contents_attribute_d,contents_attribute_m,contents_attribute_e,contents_attribute_h,person_rn
0,1,0,0,1,1,1,1,0.49974,0.49974,0.49974,...,0.49974,0.49974,0.49974,0.49974,0.49974,0.49974,0.49974,0.49974,0.49974,0.49974
1,0,0,0,1,0,0,2,0.49974,0.49974,0.49974,...,0.49974,0.49974,0.49974,0.49974,0.49974,0.49974,0.49974,0.49974,0.49974,0.49974
2,1,0,0,1,1,1,2,0.49974,0.49974,0.49974,...,0.49974,0.49974,0.49974,0.49974,0.49974,0.49974,0.49974,0.49974,0.49974,0.49974

In [157]:
from sklearn.model_selection import train_test_split
X_features = train[train.columns.difference(['target'])]
y_label = train['target']
X_features.head(3)

,contents_attribute_a,contents_attribute_c,contents_attribute_d,contents_attribute_e,contents_attribute_h,contents_attribute_i,contents_attribute_j,contents_attribute_j_1,contents_attribute_k,contents_attribute_l,...,person_attribute_b,person_prefer_c,person_prefer_d_1,person_prefer_d_2,person_prefer_d_3,person_prefer_e,person_prefer_h_1,person_prefer_h_2,person_prefer_h_3,person_rn
0,0.497020,0.512659,0.417795,0.504105,0.463074,0.504674,0.46724,0.472427,0.502061,0.501231,...,0.487071,0.509803,0.555977,0.501582,0.555916,0.580604,0.572908,0.541915,0.558634,0.536122
1,0.497020,0.512659,0.417795,0.504105,0.543445,0.487215,0.50988,0.527519,0.502061,0.501231,...,0.500850,0.493090,0.496500,0.492168,0.488634,0.500543,0.515464,0.495718,0.496665,0.000000
2,0.507262,0.512659,0.484517,0.504105,0.460276,0.504674,0.46724,0.472427,0.438810,0.575518,...,0.487071,0.509803,0.431395,0.487861,0.435365,0.479206,0.463174,0.486959,0.469785,0.536122

In [164]:
# 사이킷런 래퍼 XGBoost 클래스인 XGBClassifier 임포트
from xgboost import XGBClassifier

X_train, X_test, y_train, y_test=train_test_split(X_features, y_label,
                                         test_size=0.2, random_state=42 )


evals = [(X_test, y_test)]

xgb_wrapper = XGBClassifier(n_estimators=4000, learning_rate=0.05, max_depth=10)

In [165]:
xgb_wrapper.fit(X_train , y_train,  early_stopping_rounds=200,eval_set=evals, eval_metric="logloss",  verbose=10)

w_preds = xgb_wrapper.predict(X_test)
w_pred_proba = xgb_wrapper.predict_proba(X_test)[:, 1]

C:\Users\jeff\anaconda3\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[0]	validation_0-logloss:0.67651
[10]	validation_0-logloss:0.57230
[20]	validation_0-logloss:0.52395
[30]	validation_0-logloss:0.49873
[40]	validation_0-logloss:0.48445
[50]	validation_0-logloss:0.47593
[60]	validation_0-logloss:0.47061
[70]	validation_0-logloss:0.46721
[80]	validation_0-logloss:0.46512
[90]	validation_0-logloss:0.46371
[100]	validation_0-logloss:0.46290
[110]	validation_0-logloss:0.46229
[120]	validation_0-logloss:0.46181
[130]	validation_0-logloss:0.46153
[140]	validation_0-logloss:0.46125
[150]	validation_0-logloss:0.46101
[160]	validation_0-logloss:0.46081
[170]	validation_0-logloss:0.46067
[180]	validation_0-logloss:0.46060
[190]	validation_0-logloss:0.46055
[200]	validation_0-logloss:0.46042
[210]	validation_0-logloss:0.46027
[220]	validation_0-logloss:0.46013
[230]	validation_0-logloss:0.46002
[240]	validation_0-logloss:0.46002
[250]	validation_0-logloss:0.45995
[260]	validation_0-logloss:0.45992
[270]	validation_0-logloss:0.45990
[280]	validation_0-logloss:0.45986
[290]	validation_0-logloss:0.45991
[300]	validation_0-logloss:0.45992
[310]	validation_0-logloss:0.45990
[320]	validation_0-logloss:0.45992
[330]	validation_0-logloss:0.45996
[340]	validation_0-logloss:0.46000
[350]	validation_0-logloss:0.46005
[360]	validation_0-logloss:0.46009
[370]	validation_0-logloss:0.46017
[380]	validation_0-logloss:0.46019
[390]	validation_0-logloss:0.46020
[400]	validation_0-logloss:0.46028
[410]	validation_0-logloss:0.46035
[420]	validation_0-logloss:0.46041
[430]	validation_0-logloss:0.46049
[440]	validation_0-logloss:0.46055
[450]	validation_0-logloss:0.46059
[460]	validation_0-logloss:0.46059
[470]	validation_0-logloss:0.46063
[475]	validation_0-logloss:0.46068

In [166]:
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.metrics import precision_score, recall_score
from sklearn.metrics import f1_score, roc_auc_score

# 수정된 get_clf_eval() 함수 
def get_clf_eval(y_test, pred=None, pred_proba=None):
    confusion = confusion_matrix( y_test, pred)
    accuracy = accuracy_score(y_test , pred)
    precision = precision_score(y_test , pred)
    recall = recall_score(y_test , pred)
    f1 = f1_score(y_test,pred)
    # ROC-AUC 추가 
    roc_auc = roc_auc_score(y_test, pred_proba)
    print('오차 행렬')
    print(confusion)
    # ROC-AUC print 추가
    print('정확도: {0:.4f}, 정밀도: {1:.4f}, 재현율: {2:.4f},\
    F1: {3:.4f}, AUC:{4:.4f}'.format(accuracy, precision, recall, f1, roc_auc))

In [167]:
get_clf_eval(y_test , w_preds, w_pred_proba)

오차 행렬
[[34585 15574]
 [10582 39650]]
정확도: 0.7395, 정밀도: 0.7180, 재현율: 0.7893,    F1: 0.7520, AUC:0.8387

In [168]:
sum(xgb_wrapper.predict(test_data))

7076

In [163]:
sample_submission = pd.read_csv(f'{DATA_PATH}sample_submission.csv')
sample_submission['target'] = xgb_wrapper.predict(test_data)
sample_submission
sample_submission.to_csv(f"{SUBMIT_PATH}xgboost_target_encoding.csv", index=False)